<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ログイン</title>
  </head>
  <body>
    <main>
      <h1>ログイン</h1>
      <form action="/login" method="POST" class="form">
        <p class="form__text">
          <input type="text" name="username" />
        </p>
        <p class="form__text">
          <input type="text" name="password" />
        </p>
        <input type="submit" value="ログイン" />
      </form>
    </main>
  </body>
</html>
